@using ProyectoPNT1.Recursos
@using System.Security.Claims

<nav class="navegador navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Nombres.NombreProyecto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Funcionalidades" asp-action="CalcularTotalHoras">Horas Estimadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Personas" asp-action="Index">Personas</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Cuentas" asp-action="Registrar">Registrar Persona</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Cuentas" asp-action="RegistrarTecnico">Registrar Técnico</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Administrador" asp-action="ListadoUsuarios">Listado Usuarios</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("Dispatcher"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tecnicos" asp-action="Index">Tecnicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                        </li>
                    }

                    @if (User.IsInRole("Tecnico"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Horarios" asp-action="IndexByTecnico" asp-route-tecnicoId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Mis Horarios</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Personas" asp-action="Details" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">@User.Identity.Name</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cuentas" asp-action="CerrarSesion">Cerrar Sesion</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cuentas" asp-action="IniciarSesion">Iniciar Sesion</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
