@model ProyectoPNT1.ViewModel.TotalHoras

@{
    ViewData["Title"] = "Calcular Horas";
}

<h1>Calcular Horas Asignadas</h1>

@using (Html.BeginForm())
{
    <div>
        <label for="FechaInicio">Fecha de inicio:</label>
        <input type="date" id="FechaInicio" name="FechaInicio" value="@Model.FechaInicio.ToString("yyyy-MM-dd")" required />
    </div>

    <div>
        <label for="FechaFin">Fecha de fin:</label>
        <input type="date" id="FechaFin" name="FechaFin" value="@Model.FechaFin.ToString("yyyy-MM-dd")" required />
    </div>

    <button type="submit">Calcular</button>
}

@if (Model.TotalHorasMostrar > 0)
{
    <div>
        <h3>Total de horas asignadas:</h3>
        <p>@Model.TotalHorasMostrar</p>
    </div>
}
