@using ProyectoPNT1.Recursos;
@model ProyectoPNT1.Models.Horario

@{
    ViewData["Title"] = @Nombres.Crear;
}

<h1>@Nombres.Crear</h1>

<h4>Horario</h4>
<hr />
<h6>Para asignar un dia libre, complete la fecha pero deje vacio los horarios de entrada y salida</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaTrabajo" class="control-label"></label>
                <input asp-for="FechaTrabajo" class="form-control" />
                <span asp-validation-for="FechaTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraEntrada" class="control-label"></label>
                <input asp-for="HoraEntrada" class="form-control" />
                <span asp-validation-for="HoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label"></label>
                <input asp-for="HoraSalida" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TecnicoId" class="control-label"></label>
                <select asp-for="TecnicoId" class ="form-control" asp-items="ViewBag.TecnicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Nombres.Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Nombres.Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
