@{
    ViewData["Title"] = "Scheduler";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Scheduler: Gestiona y organiza fácilmente los horarios de tu equipo técnico</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-4 fw-bold">Scheduler: Gestiona y organiza fácilmente los horarios de tu equipo técnico</h1>
                <h4 class="mt-3">Asignación manual de horarios para una coordinación sin complicaciones</h4>
                <p class="lead mt-4">Scheduler es la solución perfecta para simplificar la asignación y organización de horarios de tu equipo técnico. Con nuestra aplicación web intuitiva, podrás asignar manualmente los horarios de manera eficiente, asegurando una colaboración fluida y un equipo informado. ¡Optimiza la coordinación y maximiza la productividad con Scheduler!</p>
            </div>
        </div>
    </div>
</body>
</html>
