html, body {
    height: 100%;
    background-color: #DAC489;
    margin: 0;
    padding: 0;
    color: #27241F;
}

h1, h2, h3, h4, p, label {
    color: #27241F;
}

a {
    color: #4e8df5;
    text-decoration: none;
}

.navegador {
    background-color: #DB995F;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.footer {
    background-color: #A72422;
    color: white;
    padding: 20px;
    margin-top: auto;
}

p{
    margin: 0;
}

.parrafoFooter{
    color:white;
}

#filterForm,
#resetForm {
    display: inline-block;
}

#filterForm label {
    color: #27241F;
}

#filterForm input[type="time"],
#filterForm input[type="date"] {
    background-color: #DB995F;
    color: #27241F;
    border: none;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

#filterForm button[type="submit"] {
    background-color: #D82E29;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#resetForm button[type="submit"] {
    background-color: #A72422;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#totalHorasDiv {
    background-color: #DB995F;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 336px;
}

#totalHorasDiv h3 {
    margin-top: 0;
    color: #ffffff;
}
